{% extends "base.html" %}
{% block content %}

<main>

<div class="vertical-align-middle center container">
    <div class="card-panel hoverable" id='main-card'>
        <h1 class="animated jackInTheBox header" id='dashbots'>{{ title }}</h1>
        <h5 class="header col s12 light grey-text">An API that fetches data</h5>
        <br>
        <div class="row center">
            <a href="https://github.com/matrix2113/matax-api" class="btn waves-effect my-button">API GitHub</a>
            <a href="https://github.com/matrix2113/town-boat" class="btn waves-effect my-button">Town Boat</a>
            <br>
        </div>
    </div>
</div>

</main>

{% endblock %}